body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFF;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

section {
    padding: 20px;
}

article {
    margin-bottom: 20px;
}

button {
    background: none;
    border: none;
    border-radius: 8px;
    color: #414141;
    font-family: inherit;
    height: 43px;
    margin: 0 25px;
    outline: none;
    padding: 10px;
}

button:hover {
    background-color: #dddddd;
}
